{{ if isset .Site.Params "description" }}
{{ if .Site.Params.description.enable }}
<section class="">
    <div class="container">
        <div class="col-md-12">
            <div class="row" style="text-align: center;">
                <h2>Pathogens In Foods</h2>
            </div>
            <div class="row" style="text-align: justify; color: #000000;">
                <p>Pathogens-in-Foods is a database of systematically formatted occurrence data of the most important biological hazards in foods randomly surveyed from European farms, processing facilities, retail establishments and restauration.</p>

                <p>Under a harmonised arrangement, Pathogens-in-Foods brings together prevalence and enumeration data of pathogenic bacteria, parasites and viruses in foods, extracted from published peer-reviewed articles and reports.</p>
                
                <p>This web resource enables the user to:</p>
                    <ul>
                        <li>Search for detection and enumeration data of pathogens in foods produced, commercialised and/or consumed in Europe;</li>
                        <li>Gain insightful visual and descriptive analysis through interactive dashboards</li>
                    </ul>
            </div>
            <div class="row"  style="text-align: center; margin-top: 20px;">
                    <img src="https://fsqa.esa.ipb.pt/img/team/FSQA.png " style="margin-right: 20px; margin-top: 10px;">
                    <img src="https://fsqa.esa.ipb.pt/img/team/CIMO.png" style="margin-left: 20px;margin-top: 10px;">
            </div>
            <div class="row"  style="text-align: center; margin-top: 20px;">    
                    <img src="https://fsqa.esa.ipb.pt/img/team/IPB.png" style="margin-right: 20px; margin-top: 10px;">
                    <img src="https://fsqa.esa.ipb.pt/img/team/ANSES.jpg" style="margin-left: 20px; margin-top: 10px;">
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}