[submodule "themes/hugo-universal-theme"]
path = themes/hugo-universal-theme
url = ../hugo-universal-theme.git
[submodule "gh-pages"]
	path = gh-pages
	url = https://github.com/lrmendes/PathogensInFood-WebSite.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/lrmendes/PathogensInFood-WebSite.git
	branch = master
